@media screen and (min-width: 480px) {
    h1 {
    color:blueviolet;
    background-color: bisque;
    
    }
    .Flex-container > p{
        background-color: black;
        color:blueviolet;
        font-size: 2rem;
        padding: 10px; ;
        margin: 10px;
        border: 5px solid blue;
    }
    
   }
   @media screen and (max-width: 480px) {
    
    h1{
        color: blue;
        background-color: aqua; 
       
    }
    .Flex-container > p{
        background-color: black;
        color:blueviolet;
        font-size: 2rem;
        padding: 10px; ;
        margin: 10px;
        border: 5px solid greenyellow;
}

}
    
   