@media screen and (min-width: 480px) {
    h1 {
    color:blueviolet;
    background-color: bisque;
    }
    
   }
   @media screen and (max-width: 480px) {
    
    h1{
        color: blue;
        background-color: aqua;
    }
}
   